APP_NAME="Pickup Service"
APP_ENV=production
APP_KEY=base64:/suFlsQ5GLGgvJzxtVPVTRhG4HlfSicHRHhwC4rVOzc=
APP_DEBUG=false
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=warning

DB_CONNECTION=sqlite
# DB_DATABASE will be set in config/database.php

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
