.env
.env.backup
/vendor
/node_modules
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/app/*
/bootstrap/cache/*
.phpunit.result.cache
.hot
.DS_Store
Thumbs.db
